<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/cart.ejs") %>
  
<% if(error && error.length >0){%>
  <div class="alert text-center alert-danger" role="alert"><%=error%></div>
  <% } %>
  <% if(success && success.length >0){%>
  <div class="alert text-center alert-success" role="alert"><%=success%></div>
  <% } %>
  <% if(info && info.length >0){%>
      <div class="alert text-center alert-info" role="alert"><%=info%></div>
  <% } %>
  <%- body %>
  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/script.ejs") %>
</body>

</html>