    <div class="container">
        <h5 class="pt-3">Hồ sơ của tôi</h5>
        <p>Quản lý thông tin và bảo mật tài khoản</p>
    </div>
    <div id="profile-wrapper">
        <div class="container bootstrap snippets bootdey">
            <hr>
            <div class="row">
                <div class="profile-nav col-md-5 col-lg-3">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="<%=currentUser.avatar%>">
                            <img src="<%=currentUser.avatar%>" alt="Ảnh đại diện người dùng">
                        </a>

                            <h1>
                                <%=currentUser.name%>
                            </h1>
                            <p>
                                <%=currentUser.email%>
                            </p>
                        </div>

                        <ul class="d-flex flex-column">
                            <li class="active">
                                <a href="/account/edit"> <i class="fa fa-user"></i>Hồ sơ</a>
                            </li>
                            <li>
                                <a id="change-password" href="/account/password/change"> <i class="fa fa-key"></i>Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="/order/history"> <i class="fa fa-calendar"></i>Quản lý đơn hàng</a>
                            </li>
                            <li>
                                <a href="/account/address"> <i class="fa fa-edit"></i>Địa chỉ giao hàng</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="profile-info col-md-7 col-lg-9">

                    <div class="panel">
                        <%if(pageType=="userInfo" ){%>
                             <%-include("./user/information.ejs");%>
                        <%}%>
                        <%if(pageType=="changePassword"){%>
                             <%-include("./user/change-password.ejs");%>
                        <%}%>
                        <%if(pageType=="address" ){%>
                             <%-include("./user/address.ejs");%>
                        <%}%>
                        <%if(pageType=="orders" ){%>
                             <%-include("./orders/orders.ejs",{orders});%>
                        <%}%>
                        <%if(pageType=="order-detail" ){%>
                            <%-include("./orders/order-detail.ejs",{order});%>
                        <%}%> 
                    </div>
                </div>
            </div>
        </div>
            <!-- Main js -->
        <script defer src="/js/main.js"></script>
    </div>