<%  function numberWithCommas(price) {
    var parts = price.toString().split(".");
    parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,".");
    return parts.join(",");
    }
 %>
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Đồng hồ</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">
                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Lọc</h6>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Giá</p>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="0" data-max="5000000" data-unit="VNĐ"
                                    class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                    data-value-min="0" data-value-max="5000000" data-label-result="Khoảng:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Khoảng: 0VNĐ - 5.000.000VNĐ</div>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <%if (categoryPath != "/san-pham/phu-kien") {%>
                    <div class="widget color mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Màu sắc</p>
                        <div class="widget-desc">
                            <ul class="d-flex">
                                <li>
                                    <a href="<%=categoryPath%>?color=WHITE" class="color--white"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=BLACK" class="color--black"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=NAVY" class="color--navy"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=ROSEGOLD" class="color--rosegold"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=PEARL" class="color--pearl"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=GREY" class="color--grey"></a>
                                </li>
                                <li>
                                    <a href="<%=categoryPath%>?color=PINK" class="color--pink"></a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30">Thương hiệu</p>
                        <div class="widget-desc">
                            <ul>
                                <li><a href="/san-pham/thuong-hieu?name=Jackson">Jackson</a></li>
                                <li><a href="/san-pham/thuong-hieu?name=Kashmir">Kashmir</a></li>
                                <li><a href="/san-pham/thuong-hieu?name=Colosseum">Colosseum</a></li>
                                <li><a href="/san-pham/thuong-hieu?name=Mykonos">Mykonos</a></li>
                            </ul>
                        </div>
                    </div>
                    <%}%>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p>hiển thị <span><%=products.length%></span>/<span><%=totalProducts%></span>
                    sản phẩm</p>
                </div>
                <!-- Sorting -->
                <div class="product-sorting d-flex">
                    <p>Sắp xếp</p>
                    <form action="<%=categoryPath%>" method="GET">
                        <select name="sort" id="sortByselect" onchange="this.form.submit()">
                            <option value="all">Tất cả</option>
                            <option value="price">Giá tăng dần</option>
                            <option value="-price">Giá giảm dần</option>
                            <option value="name">Tên: A - Z</option>
                            <option value="-name">Tên: Z - A</option>
                        </select>
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Single Product -->
        <%products.forEach(product =>{%>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                    <img src="<%=product.coverImage%>" alt="<%=product.name%> image">
                    <!-- Hover Thumb -->
                    <!-- <img class="hover-img" src="img/product-img/product-2.jpg" alt=""> -->

                    <!-- Product Badge -->
                    <div class="product-badge offer-badge">
                        <span>-40%</span>
                    </div>
                    <!-- Favourite -->
                    <div class="product-favourite">
                        <a href="#" class="favme fa fa-heart"></a>
                    </div>
                </div>

                <!-- Product Description -->
                <div class="product-description">
                    <span><%=product.brand%> - <%=product.size%></span>
                    <a href="/san-pham/<%=product._id%>">
                        <h6 class="product-name">
                            <%=product.name%>
                        </h6>
                    </a>
                    <p class="product-price"><span class="old-price">$75.00</span>
                        <%=numberWithCommas(product.price)%> đ</p>

                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Add to Cart -->
                        <div class="add-to-cart-btn">
                            <a href="#" class="btn essence-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% });%>
    </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="navigation">
        <ul class="pagination mt-50 mb-70">
            <% if(currentPage && currentPage > 1){%>
            <li class="page-item"><a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>&sort=<%=sort%>"><i
                        class="fa fa-angle-left"></i></a></li>
            <% }%>
            <%if(hasPrevPage){%>
            <li class="page-item">
                <a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>&sort=<%=sort%>">
                    <%=prevPage%>
                </a>
            </li>
            <% }%>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" style="background-color: rgb(52, 127, 224); color: #fff" tabindex="-1">
                    <%=currentPage%>
                </a>
            </li>
            <%if(hasNextPage){%>
            <li class="page-item">
                <a class="page-link" href="<%=categoryPath%>?page=<%=nextPage%>&sort=<%=sort%>">
                    <%=nextPage%>
                </a>
            </li>
            <%}%>
             <%if(lastPage>currentPage){
                 
                %>
            <li class="page-item"><a class="page-link" href="<%=categoryPath%>?page=<%=nextPage%>&sort=<%=sort%>"><i
                        class="fa fa-angle-right"></i></a></li>
            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->