<%function numberWithCommas(price) { var parts=price.toString().split(".");
    parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,"."); return parts.join(","); } %>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <%product.images.forEach(image=>{%>
                    <img src="<%=image%>" alt="">
                    <%})%>

            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>
                <%=product.brand%>
            </span>
            <h2 style="color: black;">
                <%=product.name%>
            </h2>

            <p class="product-price"><span class="old-price"> <%=numberWithCommas(Math.floor(product.price*100/(100-40)))%> VNĐ</span>
                <%=numberWithCommas(product.price)%> VNĐ
            </p>
            <%if(reviews.length !=0){%>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <span class="fas fa-star" style="color: yellow;"></span>
                    <span class="fas fa-star" style="color: yellow;"></span>
                    <span class="fas fa-star" style="color: yellow;"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="ml-2">
                        <%=reviews.length%> bài đánh giá
                    </span>
                </div>
                <%} else { %>
                    <span>chưa có bài đánh giá</span>
                    <%} %>
                        <p class="product-desc">
                            <%=product.description%>
                        </p>

                        <!-- Form -->
                        <!-- Select Box -->
                        <div class="select-box d-flex mt-50 mb-30">
                            <select name="select" id="productSize" class="mr-5">
                                <option value="value">Size: <%=product.size%></option>
                            </select>
                            <select name="select" id="productColor">
                                <option value="<%=product.color%>">Color: <%=product.color%></option>
                            </select>
                        </div>
                        <!-- Cart & Favourite Box -->
                        <div class="cart-fav-box d-flex align-items-center">
                            <!-- Cart -->
                            <form data-product-id="<%=product._id%>" class="add-to-cart-btn">
                                <button type="submit" class="btn essence-btn">THÊM VÀO GIỎ</button>
                            </form> 
                        </div>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
    <div class="review-heading">Viết nhận xét của bạn</div>
    <div class="review-body">
        <form action method="POST">
            <span>Đánh giá của bạn về sản phẩm </span>
            <div class="stars">
                <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" value="1" />
                <label class="star star-1" for="star-1"></label>
            </div>
            <%if(!currentUser){%>
                <input type="text" placeholder="Nhập Tên của bạn" name="name" id="review_name">
                <%} %>
                    <input type="text" placeholder="Nhập tiêu đề nhận xét" name="title" id="review_title">
                    <input type="text" placeholder="Nhận xét của bạn về sản phẩm này" name="detail" id="review-detail">
                    <div class="d-flex flex-row-reverse bd-highlight mt-15">
                        <input type="submit" value="đánh giá" id="submit">
                    </div>
        </form>
    </div>
    <%if(currentUser){%>
        <hr>
        <div class="review-heading">nhận xét của bạn</div>
        <%} %>


            <hr>
            <div class=" customer-review-heading ">Khách hàng nhận xét</div>
            <div class="rating-body ">
                <div class="rating-inner ">
                    <div class="reiview-rating-heading ">đánh giá</div>
                    <div class="d-flex flex-row bd-highlight mt-2 ">
                        <span class="fas fa-star " style="color: yellow; "></span>
                        <span class="fas fa-star " style="color: yellow; "></span>
                        <span class="fas fa-star " style="color: yellow; "></span>
                        <span class="fas fa-star "></span>
                        <span class="fas fa-star "></span>
                        <span class="ml-2"> (3.2)</span>
                    </div>
                    <span>
                        <%=reviews.length%> nhận xét
                    </span>
                </div>
                <%if(reviews.length !=0){%>
                    <% reviews.forEach(comment=> { %>
                        <hr>
                        <div class="rating-comment ">
                            <div class="d-flex flex-row bd-highlight mb-3 ">
                                <div class="rating-comment-avatar ">
                                    <img src="<%=comment.user.avatar%>" alt="Ảnh đại diện người dùng ">
                                </div>
                                <div class="d-flex flex-column bd-highlight ml-15 ">
                                    <span class="rating-comment-name ">
                                        <%=comment.user.name%>
                                    </span>
                                    <span class="rating-comment-date ">
                                        nhận xét vào ngày <%=comment.createdAt.getDate()%>
                                            tháng <%=comment.createdAt.getMonth()+1%>
                                                năm <%=comment.createdAt.getFullYear()%></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mb-3 ">
                                <span class="fas fa-star " <%if(comment.rating>= 1 ){%>
                                    style="color: yellow; " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 2 ){%>
                                    style="color: yellow; " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 3 ){%>
                                    style="color: yellow; " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 4 ){%>
                                    style="color: yellow; " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating==5 ){%>
                                    style="color: yellow; " <%}%>
                                        ></span>
                            </div>
                            <div class="rating-comment-title ">
                                <%=comment.title%>
                            </div>
                            <div class="rating-comment-content ">
                                <%=comment.review%>
                            </div>
                        </div>

                        <% }) %>
                            <%} %>
            </div>