<%function numberWithCommas(price) { var parts=price.toString().split(".");
    parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,"."); return parts.join(","); } %>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <%product.images.forEach(image=>{%>
                    <img src="<%=image%>" alt="">
                    <%})%>
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>
                <%=product.brand%>
            </span>
            <h2 style="color: black;">
                <%=product.name%>
            </h2>

            <p class="product-price"><span class="old-price">
                    <%=numberWithCommas(Math.floor(product.price*100 /(100-40)))%> VNĐ
                </span>
                <%=numberWithCommas(product.price)%> VNĐ
            </p>
            <div class="d-flex align-items-center">
                <span> Tình trạng: </span>
                <% if(product.status){ %>
                    <span
                        style="display: inline-block; width: 8px; height: 8px; margin-left: 4px; margin-right: 4px; border-radius: 50%; background: rgb(59, 177, 0);"></span>
                    <span style="color: rgb(59, 177, 0);"> Còn hàng</span>
                    <% } else{ %>
                        <span
                            style="display: inline-block; width: 8px; height: 8px; margin-left: 4px; margin-right: 4px; border-radius: 50%; background: rgb(255, 0, 0);"></span>
                        <span style="color: rgb(255, 0, 0);"> Hết hàng</span>
                        <% } %>
            </div>
            <%if(product.reviews.length !=0){%>
                <div class="d-flex flex-row bd-highlight mb-3 ">
                    <span class="fas fa-star mt-1" <%if(product.ratingsAverage>= 1 ){%>
                        style="color: rgb(0, 132, 255); " <%}%>
                            ></span>
                    <span class="fas fa-star mt-1" <%if(product.ratingsAverage>= 2 ){%>
                        style="color: rgb(0, 132, 255); " <%}%>
                            ></span>
                    <span class="fas fa-star mt-1" <%if(product.ratingsAverage>= 3 ){%>
                        style="color: rgb(0, 132, 255); " <%}%>
                            ></span>
                    <span class="fas fa-star mt-1" <%if(product.ratingsAverage>= 4 ){%>
                        style="color: rgb(0, 132, 255); " <%}%>
                            ></span>
                    <span class="fas fa-star mt-1" <%if(product.ratingsAverage==5 ){%>
                        style="color: rgb(0, 132, 255); " <%}%>
                            ></span>
                    <span class="ml-2 ">
                        <%=product.ratingsAverage%>/5 (<%=product.reviews.length%> nhận xét)
                    </span>
                </div>
                <%} else { %>
                    <span>Chưa có bài đánh giá</span>
                    <%} %>
                        <p class="product-desc">
                            <%=product.description%>
                        </p>

                        <!-- Form -->
                        <!-- Select Box -->
                        <div class="select-box d-flex mt-50 mb-30">
                            <select name="select" id="productSize" class="mr-5">
                                <option value="value">Size: <%=product.size%>
                                </option>
                            </select>
                            <select name="select" id="productColor">
                                <option value="<%=product.color%>">Color: <%=product.color%>
                                </option>
                            </select>
                        </div>
                        <!-- Cart & Favourite Box -->
                        <div class="cart-fav-box d-flex align-items-center">
                            <!-- Cart -->
                            <form data-product-id="<%=product._id%>" class="add-to-cart-btn">
                                <button type="submit" class="btn essence-btn">THÊM VÀO GIỎ</button>
                            </form>
                        </div>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
    <!-- #####  Relevant  Area Start ##### -->
    <% if (products) { %>
        <section class="new_arrivals_area section-padding-80 clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Sản phẩm liên quan</h2>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="popular-products-slides owl-carousel">
                            <!-- Single Product -->
                            <%products.forEach(item=> {%>
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="<%=item.coverImage%>" alt="">
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%=item.brand%>
                                        </span>
                                        <a href="/san-pham/<%=item._id%>">
                                            <h6>
                                                <%=item.name%>
                                            </h6>
                                        </a>
                                        <p class="product-price">
                                            <%=numberWithCommas(item.price)%>
                                        </p>
    
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <form data-product-id="<%=item._id%>" class="add-to-cart-btn">
                                                <a href="#" class="btn essence-btn">Thêm vào giỏ</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <%}) %>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <% } %>
   
    <!-- #####  Women's best seller Area End ##### -->

    <!-- #####  Review Area Begins ##### -->
    <section class="container">
        <div class="review-heading">Viết nhận xét của bạn</div>
        <div class="review-body">
            <form action="/san-pham/<%=product._id%>/review" method="POST">
                <span>Đánh giá của bạn về sản phẩm </span>
                <div class="stars">
                    <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" value="1" required />
                    <label class="star star-1" for="star-1"></label>
                </div>
                <%if(!currentUser){%>
                    <input class="input_review" type="text" placeholder="Nhập Tên của bạn" name="name" id="review_name"
                        required>
                    <%} %>
                        <input class="input_review" type="text" placeholder="Tiêu đề nhận xét" name="title"
                            id="review_title" required>
                        <textarea class="input_review" name="detail" id="review-detail" cols="40" rows="5"
                            placeholder="Nội dung..." required></textarea>
                        <div class="d-flex flex-row-reverse bd-highlight mt-15">
                            <button type="submit" class="btn essence-btn">Đánh giá</button>
                        </div>
            </form>
        </div>
    </section>
    <section class="container">
        <%if(currentUser){%>
            <hr>
            <div class="review-heading">Nhận xét của bạn</div>
            <div class="rating-body ">
                <%if(product.reviews.length !=0){%>

                    <div class="message alert text-center alert-success" id="message" style="color:#000;"></div>
                    <% product.reviews.forEach(comment=> { %>
                        <%if(comment.user._id.equals(currentUser._id)){ %>
                            <div class=" rating-comment ">
                                <div class="d-flex flex-row bd-highlight mb-3 ">
                                    <div class="rating-comment-avatar ">
                                        <img src="<%=comment.user.avatar%>" alt="Ảnh đại diện người dùng ">
                                    </div>
                                    <div class="d-flex flex-column bd-highlight ml-15 ">
                                        <span class="rating-comment-name ">
                                            <%=comment.user.name%>
                                        </span>
                                        <span class="rating-comment-date ">
                                            <%=moment(comment.updatedAt, "YYYYMMDD" ).fromNow()%>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight mb-3 ">
                                    <span class="fas fa-star " <%if(comment.rating>= 1 ){%>
                                        style="color: rgb(0, 132, 255); " <%}%>
                                            ></span>
                                    <span class="fas fa-star " <%if(comment.rating>= 2 ){%>
                                        style="color: rgb(0, 132, 255); " <%}%>
                                            ></span>
                                    <span class="fas fa-star " <%if(comment.rating>= 3 ){%>
                                        style="color: rgb(0, 132, 255); " <%}%>
                                            ></span>
                                    <span class="fas fa-star " <%if(comment.rating>= 4 ){%>
                                        style="color: rgb(0, 132, 255); " <%}%>
                                            ></span>
                                    <span class="fas fa-star " <%if(comment.rating==5 ){%>
                                        style="color: rgb(0, 132, 255); " <%}%>
                                            ></span>
                                </div>
                                <div contenteditable="true" class="rating-comment-title "
                                    id="title-review-<%=comment._id%>">
                                    <%=comment.title%>
                                </div>
                                <div contenteditable="true" class="rating-comment-content "
                                    id="content-review-<%=comment._id%>">
                                    <%=comment.review%>
                                </div>
                                <div class="d-flex flex-row mt-3 ">
                                    <form data-comment-id="<%=comment._id%>" class="review-change-btn">
                                        <button class="btn btn-primary">Thay đổi</button>
                                    </form>
                                    <form data-comment-id="<%=comment._id%>" class="review-delete-btn">
                                        <button class="btn btn-danger">Xóa</button>
                                    </form>
                                </div>


                            </div>

                            <%} %>
                                <% }) %>
                                    <%} %>
                                        <%} %>
            </div>

            <hr>


            <div class=" customer-review-heading ">Khách hàng nhận xét</div>
            <div class="all-rating-body ">
                <div class="rating-inner ">
                    <div class="reiview-rating-heading ">Đánh giá</div>
                    <%if(product.reviews.length !=0){%>
                        <div class="d-flex flex-row bd-highlight mb-3 ">
                            <span class="fas fa-star " <%if(product.ratingsAverage>= 1 ){%>
                                style="color: rgb(0, 132, 255); " <%}%>
                                    ></span>
                            <span class="fas fa-star " <%if(product.ratingsAverage>= 2 ){%>
                                style="color: rgb(0, 132, 255); " <%}%>
                                    ></span>
                            <span class="fas fa-star " <%if(product.ratingsAverage>= 3 ){%>
                                style="color: rgb(0, 132, 255); " <%}%>
                                    ></span>
                            <span class="fas fa-star " <%if(product.ratingsAverage>= 4 ){%>
                                style="color: rgb(0, 132, 255); " <%}%>
                                    ></span>
                            <span class="fas fa-star " <%if(product.ratingsAverage==5 ){%>
                                style="color: rgb(0, 132, 255); " <%}%>
                                    ></span>
                            <span class="ml-2 ">
                                <%=product.ratingsAverage%> (<%=product.reviews.length%> nhận xét)
                            </span>
                        </div>
                        <%} else { %>
                            <span>Chưa có bài đánh giá</span>
                            <%} %>
                </div>


                <%if(product.reviews.length !=0){%>
                    <% product.reviews.forEach(comment=> { %>
                        <hr>
                        <div class="rating-comment ">
                            <div class="d-flex flex-row bd-highlight mb-3 ">
                                <div class="rating-comment-avatar ">
                                    <img src="<%=comment.user.avatar%>" alt="Ảnh đại diện người dùng ">
                                </div>
                                <div class="d-flex flex-column bd-highlight ml-15 ">
                                    <span class="rating-comment-name ">
                                        <%=comment.user.name%>
                                    </span>
                                    <span class="rating-comment-date ">
                                        <%=moment(comment.updatedAt, "YYYYMMDD" ).fromNow()%>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mb-3 ">
                                <span class="fas fa-star " <%if(comment.rating>= 1 ){%>
                                    style="color: rgb(0, 132, 255); " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 2 ){%>
                                    style="color: rgb(0, 132, 255); " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 3 ){%>
                                    style="color: rgb(0, 132, 255); " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating>= 4 ){%>
                                    style="color: rgb(0, 132, 255); " <%}%>
                                        ></span>
                                <span class="fas fa-star " <%if(comment.rating==5 ){%>
                                    style="color: rgb(0, 132, 255); " <%}%>
                                        ></span>
                            </div>
                            <div class="rating-comment-title ">
                                <%=comment.title%>
                            </div>
                            <div class="rating-comment-content ">
                                <%=comment.review%>
                            </div>
                        </div>

                        <% }) %>
                            <%} %>
            </div>
    </section>
    <!-- #####  Review Area Ends ##### -->