    <div class="panel-body bio-graph-info">
        <h1 class="bio-header">Đơn hàng của tôi</h1>
        <table class="table table-striped table-sm text-center" aria-describedby="Product list">
            <thead class="thead-dark" >
                <tr>
                    <th scope="col" id="id">Mã đơn hàng</th>
                    <th scope="col" id="date">Ngày mua</th>
                    <th scope="col"  id="name">Tên sản phẩm</th>
                    <th scope="col" id="price">Tổng tiền</th>
                    <th scope="col" id="status">Trạng thái đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                <%if(orders !=={}){%>
                    <% orders.forEach(order=> { %>
                        <tr>
                            <td class="order-id align-middle">
                                <a href="/order/<%=order._id%>" style="font-size: 0.9rem">
                                    <%=order.order_id%>
                                </a>
                            </td>
                            <td class="align-middle"><%=moment(order.createdAt).format('DD/MM/YYYY')%>
                            </td>
                            <td class="align-middle">
                                <% for( let id in order.products ) { %>
                                    <%=order.products[id].item.name%>,
                                <% } %>
                            </td>


                            <td class="align-middle">
                                <%=order.totalPrice.toLocaleString('vi-VN')%> đ
                            </td>
                            <td class="align-middle">
                                <% if (order.status==1) { %>
                                    Đang giao hàng
                                    <% } else if (order.status==0) { %>
                                        Giao hàng thành công
                                        <%} else if (order.status==-1) { %>
                                            Đã hủy
                                            <%}%>

                            </td>
                        </tr>
                        <% });%>

                            <%}else{%>
                                <td colspan="7">Không có đơn hàng</td>
                                <%}%>
            </tbody>
        </table>

    </div>